<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/jquery.min.js" charset="utf-8"></script>

<h1>Flicker editor</h1>

<table id="steps">
  <thead>
    <tr>
      <td></td>
      <td>Perm.</td>
      <td>Time</td>
    </tr>
  </thead>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value="1"></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value="1"></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value="1"></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>
  <tr><td><div class="dot"></div></td><td><input type="text" name="pattern" value=""></td><td><input type="text" name="duration" value=""></td></tr>

</table>

<div class="right">
  <div class="logo">
		<svg
			width="600px"
			height="400px"
			viewBox="0 0 107 67"
			version="1.1"
			id="svg4633"
			inkscape:version="0.92.1 r"
			sodipodi:docname="logo.svg">
			<defs
				id="defs4627" />
			<g
				inkscapelabel="Layer 1"
				inkscape:groupmode="layer"
				id="layer1">
				<circle
					style="display:inline;opacity:1;fill:none;fill-opacity:1;stroke:#000000;stroke-width:0.79374999;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
					id="path4554"
					cx="13.370886"
					cy="14.179167"
					r="9.8273811"
					inkscapelabel="_1" />
				<circle
					style="display:inline;opacity:1;fill:none;fill-opacity:1;stroke:#000000;stroke-width:0.79374999;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
					id="path4554-6"
					cx="13.181898"
					cy="53.866669"
					r="9.8273811"
					inkscapelabel="_2" />
				<path
					style="display:inline;fill:none;stroke:#000000;stroke-width:0.79374999;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="m 28.303925,63.680649 c 9.544678,0.0153 19.953375,-7.77593 19.48882,-20.93294 C 47.037381,32.022628 38.35868,24.751458 28.303925,24.306118 Z"
					id="path4573"
					inkscape:connector-curvature="0"
					sodipodi:nodetypes="cccc"
					inkscapelabel="_4" />
				<path
					style="display:inline;fill:none;stroke:#000000;stroke-width:0.79374999;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="M 28.333372,23.907298 28.303922,4.1806475 H 47.999599 C 47.642425,18.242288 34.777465,24.359148 28.303922,23.907298 Z"
					id="path4571"
					inkscape:connector-curvature="0"
					sodipodi:nodetypes="ccccc"
					inkscapelabel="_3" />
				<path
					style="display:inline;fill:none;stroke:#000000;stroke-width:0.79374999;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="M 76.067694,4.1809875 V 63.680987 C 66.490635,63.439909 56.447075,55.884899 56.507424,45.834997 L 56.318435,22.872948 C 56.545016,12.412928 65.787357,4.6260075 76.067694,4.1809875 Z"
					id="path4577-1"
					inkscape:connector-curvature="0"
					sodipodi:nodetypes="ccccc"
					inkscapelabel="_5" />
				<path
					style="display:inline;fill:none;stroke:#000000;stroke-width:0.79374999;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
					d="M 81.217616,4.1806475 V 63.680649 c 9.577059,-0.241081 19.620614,-7.796091 19.560274,-17.84599 l 0.18898,-22.962051 C 100.7403,12.412588 91.497956,4.6256675 81.217616,4.1806475 Z"
					id="path4577"
					inkscape:connector-curvature="0"
					sodipodi:nodetypes="ccccc"
					inkscapelabel="_6" />
			</g>
		</svg>
	</div>
  <div class="slider speed">
		On time (s)
		<input type="range" name="speed" value="1.0" min="0.01" max="3" step="0.01"/>
		<span>1</span>
	</div>

<br>

<button type="button" name="save">Save</button>

<br>

Saved sequences
<select class="" name="saved">
</select>


</div>

<script src="/static/js/flicker.js" charset="utf-8"></script>
